/.vs/

eTaxInvoicePdfGenerator/bin/
/eTaxInvoicePdfGenerator.csproj.user
eTaxInvoicePdfGenerator/obj/
eTaxInvoicePdfGenerator/publish/

eTaxWeb/bin/
eTaxWeb/bin/roslyn/
/eTaxWeb.csproj.user
eTaxWeb/obj/
eTaxWeb/publish/

packages/
/eTaxWeb/Web.ConnectionStrings.config
/eTaxWeb/eTaxWeb.csproj
/eTaxWeb/.vs/eTaxWeb.csproj.dtbcache.json
